.btn {
  &,
  &:link,
  &:visited {
    font-weight: 600;
    font-size: 1.5rem;
    color: $color-white;
    background-color: $color-black;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 0.5rem;
    display: inline-block;
    transition: all .3s;
    border: 1px solid $color-black;
    outline: $color-black solid 5px;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    border: 1px solid $color-white;
    outline: $color-black solid 5px;
  }

  &:active,
  &:focus {
    border: 1px solid $color-white;
    outline: $color-black solid 5px;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }

  &-sm {
    padding: 1.1rem 1.5rem;
  }
  &-md {
    padding: 1.1rem 4rem;
  }
}

.symbol-button {
  border: none;
  background: none;
  font-size: 1.8rem;
  font-weight: 500;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
