.icon {
  width: 1.7rem;
  height: 1.7rem;

  &__md {
    width: 2.3rem;
    height: 2.3rem;
  }
  &__social {
    padding: 2px;
    fill: white;
  }

  &-facebook {
    background: #3B5998;
  }
  &-twitter {
    background: #55ACEE;
  }
  &-pinterest {
    background: #cb2027;
  }
  &-instagram {
    background-image: linear-gradient(-180deg, #9f3fde, #F72502, #ffd500);
    border-radius: 4px;
  }
}