.slider {
  &__item {

    &--1 {
      height: calc(100vh - 13.8rem);
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../../img/slider-1.jpg);

      &:focus {
        outline: 0;
      }
    }

    &--2 {
      @extend .slider__item--1;
      background-image: url(../../img/slider-2.jpg);
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 80vh;
      max-width: 40rem;

      a {
        margin-top: 5rem;
      }

    }
  }
}

.slick-dots {
  bottom: 10px;

  li {
    &.slick-active {
      button:before {
        opacity: .95;
        color: $color-white;
      }
    }

    button:before {
      font-size: 14px;
      opacity: .40;
      color: $color-white;
    }
  }
}