.u-border-bottom {border-bottom: 1px solid #dedede;}

.u-text-align-center {text-align: center;}

.u-margin-top-xs {margin-top: 1.5rem;}
.u-margin-top-s {margin-top: 2.5rem;}
.u-margin-top-md {margin-top: 4rem;}
.u-margin-top-big {margin-top: 6rem;}

.u-margin-bot-xs {margin-bottom: 1.5rem;}
.u-margin-bot-s {margin-bottom: 2.5rem;}
.u-margin-bot-md {margin-bottom: 4rem;}
.u-margin-bot-big {margin-bottom: 6rem;}

.u-bg-color-red {background-color: red;}
.u-bg-color-blue {background-color: blue;}
.u-bg-color-green {background-color: forestgreen;}
.u-bg-color-purple {background-color: mediumpurple;}
